{% extends 'base.html' %}
{% block title %}End Page{% endblock %}

{% block body %}
  <h1>We Love Magical Artist Earthlings!</h1>
  <div class="hide-on-print" data-reactid="250"><video src="https://d2r55xnwy6nx47.cloudfront.net/uploads/2021/07/Time-Crystals_2560_Lede.mp4" autoplay="autoplay" muted="true" loop="true" playsinline="true" width="100%" poster="https://d2r55xnwy6nx47.cloudfront.net/uploads/2021/07/Time-Crystals_Lede_Still.jpg"></video></div>
  
  <div>
      <p>
      </p>
  </div>

  <div class="button_cont" align="center">
      <p>
  <button type="button"> <a class="example_f" href="/get_connected" target="_blank" rel="nofollow"><span>GET CONNECTED</a></button>
  </p>
</div>

    <div class="button_cont" align="center">
        <p>
    <button type="button"> <a class="example_f" href="/get_inspired" target="_blank" rel="nofollow"><span>GET INSPIRED</a></button>
    </p>
    </div>

        <div class="button_cont" align="center">
            <p>
            <button type="button"> <a class="example_f" href="/get_funded" target="_blank" rel="nofollow"><span>GET FUNDED</a></button>
            </p>
            </div>

  

{% endblock %}
