{% extends 'base.html' %}
{% block title %}All Art in Outer Space Projects{% endblock %}

{% block body %}
  <h1 class="left_margin">GET INSPIRED! View Art in Outer Space Projects!</h1>

  <ul class="no-bullets">
    {% for project in projects %}
    <div>
      <li>
        <p>
        <img src="{{ project.img }}" width=80% height=auto>
        </p>
        <p>
        <a href="/get_inspired/{{ project.project_id }}">
          {{ project.project_title }}
      </a>
    </p>
      </li>
    </div>
    {% endfor %}
  </ul>
{% endblock %}
