{% extends 'base.html' %}
{% block title %}All Art in Outer Space Projects{% endblock %}

{% block body %}
  <h1>GET FUNDED! Submit your application to get funded for your own Art in Outer Space Projects!</h1>

  <div id="image-container">
    <div id="form-container">
  <ul>
    <form>
      <label>Art Application Name</label>
      <p>
      <input type="text" name="art-application-name">
      </p>
    </form>
    <form>
      <label>Tell us about yourself:</label>
      <p>
      <textarea name="about-me"></textarea>
      </p>
    </form>
    <form>
      <label>Tell us about your art project idea:</label>
      <p>
      <textarea name="about-me"></textarea>
    </p>
    </form>
    <form>
      <p>
      <input type="submit">
      </p>
    </form>
  </div>
</div>

  </ul>
{% endblock %}