{% extends 'base.html' %}
{% block title %}All Art in Outer Space Projects{% endblock %}

{% block body %}
  <h1>GET FUNDED! Submit your application to get funded for your own Art in Outer Space Projects!</h1>

  <ul>
    {% for project in projects %}
      <li>
        <a href="/get_inspired/{{ project.project_id }}">
            {{ project.project_title }}
        </a>
        <p>
        <img src="{{ project.img }}" width=50% height=auto>
        </p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}