{% extends 'base.html' %}
{% block title %}All Videos{% endblock %}

{% block body %}
  <h1>GET CONNECTED! All Dear Moon Round 3 Applicant Videos</h1>

  <ul>
    {% for video in videos %}
      <li>
        <a href="/get_connected/{{ video.video_id }}">
            {{ video.title }}
          <!-- <iframe width="560" height="315" src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
          </iframe> -->
        <!-- <h1>{{ video.title }}</h1> -->
        <!-- <p>
        {{ video.description }}
        </p> -->

        <!-- {% if session.get('user_email') %}
        <h2>Rank this video</h2>
            <form action="/get_connected/{{ video.video_id }}/reviews" method="POST"> -->

            <!-- <form action="/get_connected" method="POST"> -->
        <!-- <p>
            Ranking:
            <select name="ranking">
            <option value="">Select ranking</option>
            {% for num in range(11) %}
                <option value="{{ num }}">{{ num }}</option>
            {% endfor %}
            </select>
        </p>
        <p><input type="submit"></p>
        </form>
        {% endif %} -->
        <!-- </a> -->
      </li>
    {% endfor %}
  </ul>
{% endblock %}
