{% extends 'base.html' %}
{% block title %}All Videos{% endblock %}

{% block body %}
  <h1 class="left_margin">GET CONNECTED!</h1>
  <div id="mainVisual">
    <img class="c-showSP" src="https://lh3.googleusercontent.com/-T0tOPOuDNBA/YQ7GMcvRU9I/AAAAAAAAAfY/n8rQRWWkNW8hL-fiyT--BV8_isRDQL4wwCNcBGAsYHQ/w640-h348/IMG_9987.heic">
  </div>

  <h2 class="left_margin">View dearMoon round three applicant videos</h2>
  <ul class="no-bullets">
    {% for video in videos %}
      <li>
        <a href="/get_connected/{{ video.video_id }}">
            {{ video.title }}

      </li>
    {% endfor %}
  </ul>
{% endblock %}
