{% extends 'base.html' %}
{% block title %}Art in Outer Space Home{% endblock %}

{% block body %}
  <h1 class="left_margin">We Love Magical Artist Earthlings!</h1>
  
  <div class="hide-on-print" data-reactid="250"><video src="https://d2r55xnwy6nx47.cloudfront.net/uploads/2021/07/Time-Crystals_2560_Lede.mp4" autoplay="autoplay" muted="true" loop="true" playsinline="true" width="100%" poster="https://d2r55xnwy6nx47.cloudfront.net/uploads/2021/07/Time-Crystals_Lede_Still.jpg"></video></div>
  <h5 class="image-credit" href="https://maylee-art.com/">Maylee for Quanta Magazine</h5>

  <h2>Artist Friends, Log in here:</h2>
  <form class="white-panel" id="login-form-container" action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2 class="right-text-align">Don't Have an Account? </h2>
  <div class="right-text-align"> Join the outer space art club! </div>
  <form class="right-text-align" id="create-account-form-container" action="/users" method="POST">
    <p>
      First Name <input type="text" name="fname">
    </p>

    <p>
     Last Name <input type="text" name="lname">
    </p>

    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Ready for your Art in Outer Space Adventure? Time to explore!</h2>
  <div>
    <p>
    </p>
</div>

<div class="button_cont" align="center">
    <p>
<button type="button"> <a class="example_f" href="/get_connected" target="_blank" rel="nofollow"><span>GET CONNECTED</a></button>
</p>
</div>

  <div class="button_cont" align="center">
      <p>
  <button type="button"> <a class="example_f" href="/get_inspired" target="_blank" rel="nofollow"><span>GET INSPIRED</a></button>
  </p>
  </div>

      <div class="button_cont" align="center">
          <p>
          <button type="button"> <a class="example_f" href="/get_funded" target="_blank" rel="nofollow"><span>GET FUNDED</a></button>
          </p>
          </div>
  
{% endblock %}
