{% extends 'base.html' %}

{% block title %}{{ video.title }} - Details{% endblock %}

{% block body %}
<h1>{{ video.title }}</h1>
<iframe width="100%" height="100%" src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
</iframe>

<p class="left_margin">
  {{ video.description }}
</p>

{% if session.get('user_email') %}
<h2 class="left_margin">Rank this video</h2>
<form class="left_margin" action="/get_connected/<video_id>/reviews" method="POST">
  <p class="left_margin">
    Ranking:
    <select name="ranking">
      <option value="">Select ranking (ZERO is THE BEST! 10 is THE WORST!)</option>
      {% for num in range(11) %}
        <option value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
  </p>
  <p class="left_margin"><input type="submit"></p>
</form>
{% endif %}

{% endblock %}
